@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Teşekkürler Mail Adresinizi Onayladınız. Lütfen @Html.ActionLink("Oturum Açmak İçin Tıklayınız", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
